.vertical-space {
    margin: 1rem 0.2rem;
}
.horizontal-space {
    margin: 0 1rem;
}
.loading-icon {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--msd-secondary-text-color);
    margin: 3rem 0;
}

.ant-layout-header {
    display: flex;
    align-items: center;
    background-color: var(--msd-ant-layout-header-bg) !important;
    box-shadow: var(--msd-ant-colors-light-black) 0 0.1rem 0.3rem;
}

.ant-layout-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0 !important;

    & > a {
        font-size: 1.5rem;
    }
}

.ant-layout-content {
    padding: 1rem 2rem;
    min-height: calc(100svh - 8rem) !important;
}
