* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
 body {
     max-width: 100vw;
     overflow-x: hidden;
 }

a {
    color: inherit;
    text-decoration: none;
}

:root {
    --msd-ant-layout-header-bg: #FFFFFFFF;
    --msd-ant-colors-light-black: #0000003F;

    --msd-text-color: #023330;
    --msd-secondary-text-color: #03524d;
}
